<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <title>Востребованность</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href=" {% static '/css/style.css' %} ">


</head>
<body id="bg" style="background-image: url('{% static "media/back.png" %}')" ;>

<div class="wrapper d-flex align-items-stretch">
    {% for nav in navigation_results_demand %}
        <nav id="sidebar">
            <div class="custom-menu">
            </div>
            <div class="p-4 pt-5">
                <img class="notice" src="{{ nav.title.url }}" alt="">


                <ul class="list-unstyled components mb-5">
                    <a href="/"><img class="imgsize" src="{{ nav.logo_field.url }}" alt=""></a>
                    <li>
                        <a href="/">{{ nav.first_menu }}</a></li>
                    <li class="active">
                        <a href="{% url 'demand' %}">{{ nav.second_menu }}</a>
                    </li>
                    <li>
                        <a href="{% url 'geography' %}">{{ nav.thierd_menu }}</a>
                    </li>
                    <li>
                        <a href="{% url 'skills' %}">{{ nav.fourth_menu }}</a>
                    </li>
                    <li>
                        <a href="{% url 'last_vacancies' %}">{{ nav.fifth_menu }}</a>
                    </li>
                </ul>


                <div class="footer" style="margin-top: 500%">
                    <p>
                        {{ nav.all_rights|safe }}
                    </p>
                    <p id="name" class="info">{{ nav.author|safe }}</p>
                </div>

            </div>
        </nav>
    {% endfor %}


    <div id="content" class="p-4 p-md-5 pt-5">

        {% for item in demand_results %}
            <h2 class="mb-4">{{ item.main_title }}</h2>
            <h3>{{ item.first_title }}</h3>
            <div class="mobile-table">
                {{ item.first_content|safe }}
                <img id="graph" src="{{ item.first_photo.url }}" alt="">
            </div>
            <h3>{{ item.second_title }}</h3>
            <div class="mobile-table">
                {{ item.second_content|safe }}
                <img id="graph" src="{{ item.second_photo.url }}" alt="">
            </div>

        {% endfor %}


    </div>
</div>
<script src="{% static  "js/jquery.min.js" %}"></script>
<script src="{% static  "js/popper.js" %}"></script>
<script src="{% static  "js/bootstrap.min.js" %}"></script>
<script src="{% static  "js/main.js" %}"></script>

</body>
<footer>

</footer>
</html>