<!doctype html>
<html lang="ru">
{% load static %}
  <head>
  	<title>Главная</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href=" {% static '/css/style.css' %} ">



  </head>
  <body id="bg" style="background-image: url('{% static "media/back.png"%}')";>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4 pt-5">
                    <img class="notice" src="{% static 'media/notice.svg' %}"  alt="">


	        <ul class="list-unstyled components mb-5">
                    <a href="/"><img class="imgsize" src="{% static 'media/logo.png' %}"  alt=""></a>
	          <li>
	            <a href="/">Главная</a>
	          </li>
	          <li class="active">
	               <a href="{% url 'demand' %}">Востребованность</a>
	          </li>
	          <li>
               <a href="{% url 'geography' %}">География</a>
	          </li>
	          <li>
              <a href="{% url 'skills' %}">Навыки</a>
	          </li>
                <li>
              <a href="{% url 'last_vacancies' %}">Последние вакансии</a>
	          </li>
	        </ul>



	        <div class="footer">
	        	<p>
						  IRIT-RTF &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  This site was made <i class="icon-heart" aria-hidden="true"></i> by <a href="https://vk.com/parcurcik" target="_blank">Pavel Bezborodov <br>RI-210945</a>
						  </p>
	        </div>

	      </div>
    	</nav>


      <div id="content" class="p-4 p-md-5 pt-5">

        <h2 class="mb-4">Востребованность профессии Web-разработчика</h2>


      </div>
		</div>
    <script src="{% static  "js/jquery.min.js" %}"></script>
    <script src="{% static  "js/popper.js" %}"></script>
    <script src="{% static  "js/bootstrap.min.js" %}"></script>
        <script src="{% static  "js/main.js" %}"></script>

  </body>
<footer>

</footer>
</html>