<!doctype html>
<html lang="ru">
{% load static %}
  <head>
  	<title>Главная</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/css/style.css">

  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4 pt-5">
                    <img class="notice" src="{% static 'media/notice.svg' %}"  alt="">


	        <ul class="list-unstyled components mb-5">
                    <a href="/"><img class="imgsize" src="{% static 'media/logo.png' %}"  alt=""></a>
	          <li class="active">
	            <a href="/">Главная</a>
	          </li>
	          <li>
	              <a href="{% url 'demand' %}">Востребованность</a>
	          </li>
	          <li>
             <a href="{% url 'geography' %}">География</a>
	          </li>
	          <li>
              <a href="{% url 'skills' %}">Навыки</a>
	          </li>
                <li>
              <a href="{% url 'last_vacancies' %}">Последние вакансии</a>
	          </li>
	        </ul>



	        <div class="footer">
	        	<p>
						  IRIT-RTF &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  This site was made <i class="icon-heart" aria-hidden="true"></i> by <a href="https://vk.com/parcurcik" target="_blank">Pavel Bezborodov <br>RI-210945</a>
						  </p>
	        </div>

	      </div>
    	</nav>


      <div id="content" class="p-4 p-md-5 pt-5">

        <h2 class="mb-4">Описание профессии Web-разработчика</h2>
        <p>Слово «веб-разработчик» кажется вполне понятным — очевидно же, что он разрабатывает что-то для веба. На деле всё не так просто. Современный интернет мало похож на веб девяностых или нулевых: технологий столько, что уследить за всем сразу просто нереально. Поэтому в профессии веб-разработчика есть три больших специализации:</p>
         <ul>
             <li>
                 <p>Frontend-разработчик — программист, который создаёт интерфейс, видимую часть приложения. Она, как кассир в McDonald’s, берёт на себя общение с клиентом, принимает заказы. Когда мы заходим на сайты, мы обычно нажимаем на кнопки или отправляем товар в корзину. За всё это отвечает frontend. Нас не интересует, что там внутри, — главное, чтобы всё хорошо работало. Ну а если мобильная версия сайта по бокам вылезает за экран — виноват frontend-разработчик.
             </li>
             <li>
                 <p>Backend-разработчик — отвечает за внутренности, серверную часть сайта. Как повар в McDonald’s, он принимает заказы от кассира, готовит и передаёт обратно на кассу. Если вы поставили галочку напротив «китайские чайники до 2 000 рублей», а сайт показал гаечные ключи — передайте привет backend-разработчику.</p>
             </li>
             <li>
                 Fullstack-разработчик — многостаночник, который умеет и backend, и frontend. Как хозяин небольшого кафе, который принимает заказы, готовит и разносит еду. Делает он всё немного медленнее, а навыки до идеала прокачать сложно. Зато в курсе всех процессов — от и до. Опытные разработчики говорят, что в fullstack проще прийти из backend.
             </li>
         </ul>
          <p>Таким образом, веб-разработчик создаёт сайты, сервисы и приложения, которыми мы ежедневно пользуемся. Он разрабатывает интернет-магазины, онлайн-банки, поисковики, карты и почтовые клиенты. Веб-разработчик проектирует внешний вид сайта — фронтенд и программирует сервисную часть — бэкенд.</p>
          <p>Для того чтобы работать web-разработчиком, необходимо обладать определенными знаниями и навыками. Все требования, которые заказчики и работодатели предъявляют разработчикам, можно увидеть в описании вакансии. </p>
          <p>Зарплата веб-разработчика, как и во многих других интернет-профессиях, зависит от уровня профессиональной подготовки, сложности проекта, объема и срочности работы,  опыта и желания работать.</p>
          <img class="main_photo" src="{% static 'media/mainph.jpg' %}"  alt="">
      </div>
		</div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
<footer>

</footer>
</html>